<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
	  <Parameter name="VacanciesPageTests.Url" value="https://careers.veeam.ru/vacancies" />
	  <Parameter name="VacanciesPageTests.Department" value="Разработка продуктов" />
	  <Parameter name="VacanciesPageTests.Language" value="Английский,Русский" />
	  <Parameter name="VacanciesPageTests.ExpectedVacanciesCount" value="7" />
  </TestRunParameters>
</RunSettings>